<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmprivacy -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pcmprivacy.resourceenvironmentprivacy.presentation.ResourceenvironmentprivacyModelWizardID"
            name="%_UI_ResourceenvironmentprivacyModelWizard_label"
            class="pcmprivacy.resourceenvironmentprivacy.presentation.ResourceenvironmentprivacyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourceenvironmentprivacyModelFile.gif">
         <description>%_UI_ResourceenvironmentprivacyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmprivacy -->
      <editor
            id="pcmprivacy.resourceenvironmentprivacy.presentation.ResourceenvironmentprivacyEditorID"
            name="%_UI_ResourceenvironmentprivacyEditor_label"
            icon="icons/full/obj16/ResourceenvironmentprivacyModelFile.gif"
            extensions="resourceenvironmentprivacy"
            class="pcmprivacy.resourceenvironmentprivacy.presentation.ResourceenvironmentprivacyEditor"
            contributorClass="pcmprivacy.resourceenvironmentprivacy.presentation.ResourceenvironmentprivacyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmprivacy -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pcmprivacy.compositionprivacy.presentation.CompositionprivacyModelWizardID"
            name="%_UI_CompositionprivacyModelWizard_label"
            class="pcmprivacy.compositionprivacy.presentation.CompositionprivacyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CompositionprivacyModelFile.gif">
         <description>%_UI_CompositionprivacyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmprivacy -->
      <editor
            id="pcmprivacy.compositionprivacy.presentation.CompositionprivacyEditorID"
            name="%_UI_CompositionprivacyEditor_label"
            icon="icons/full/obj16/CompositionprivacyModelFile.gif"
            extensions="compositionprivacy"
            class="pcmprivacy.compositionprivacy.presentation.CompositionprivacyEditor"
            contributorClass="pcmprivacy.compositionprivacy.presentation.CompositionprivacyActionBarContributor">
      </editor>
   </extension>

</plugin>
