<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated privacy -->
      <package
            uri="http://palladiosimulator.org/PalladioComponentModel/ResourceEnvironment/5.1/Privacy"
            class="pcmprivacy.resourceenvironmentprivacy.ResourceenvironmentprivacyPackage"
            genModel="model/privacy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated privacy -->
      <package
            uri="http://palladiosimulator.org/PalladioComponentModel/Core/Composition/5.1/Privacy"
            class="pcmprivacy.compositionprivacy.CompositionprivacyPackage"
            genModel="model/privacy.genmodel"/>
   </extension>

</plugin>
